# Create Teradata objects

## Connect to Teradata

In [2]:
import teradataml as tdml

In [3]:
import json

In [4]:
with open('teradata.json') as json_file:
    td_conf = json.load(json_file)

tdml.create_context(host=td_conf['host'],
                username=td_conf['user'],
                password=td_conf['password'],
                database=td_conf['schema'])
conn = tdml.get_connection()

/opt/conda/lib/python3.9/site-packages/teradataml/context/context.py:481: TeradataMlRuntimeWarning: Warning: Password is URL encoded.
  warnings.warn("Warning: Password is URL encoded.", category=TeradataMlRuntimeWarning)

## Create target tables

### Drop table if exists

In [11]:
tdml.get_connection().execute(
"""
DROP TABLE STG_IRIS_EV;
"""
)

### Create target table

In [12]:
tdml.get_connection().execute(
"""
CREATE MULTISET TABLE STG_IRIS_EV ,FALLBACK ,
     NO BEFORE JOURNAL,
     NO AFTER JOURNAL,
     CHECKSUM = DEFAULT,
     DEFAULT MERGEBLOCKRATIO,
     MAP = TD_MAP1
     (
      float_input_0 VARCHAR(10),
      float_input_1 VARCHAR(10),
      float_input_2 VARCHAR(10),
      float_input_3 VARCHAR(10),
      ACQ_DTTM TIMESTAMP(0))
NO PRIMARY INDEX ;
"""
)